<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
		
		<h1>Redige produkta datus</h1>
		<form method="post" th:object="${product}" th:action="@{/simple/update}">
			<table >
				<tr>
					<td>Nosaukums:</td>
					<td> <input type="text" th:field="*{title}"></td>
				</tr>
				
				<tr>
					<td>Cena:</td>
					<td> <input type="text" th:field="*{price}"></td>
				</tr>
				
				<tr>
					<td>Apraksts:</td>
					<td> <input type="text" th:field="*{description}"></td>
				</tr>
					
				<tr>
					<td>Daudzums:</td>
					<td> <input type="text" th:field="*{quantity}"></td>
				</tr>
					
				<tr>
					<td>Tips:</td>
					<td> <input type="text" th:field="*{productType}"></td>
				</tr>

			</table>
			<input type="submit" value="Saglabat">
			
		</form>
		
		
		
	</body>

</html>